.main {
  min-height: 70vh;
  min-width: 80vw;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  padding: 3rem 5%;
}
.app-text {
  grid-column: 3/5;
  margin-top: 20rem;
  z-index: 1;
  margin-bottom: 1rem;
  margin-right: 4rem;
  h2 {
    font-size: 4rem;
    font-weight: 500;
    color: $color5;
  }
  p {
    margin-top: 2.5rem;
    font-size: 2rem;
    color: $color6;
  }
}
